.feature-item {
	position: relative;
	padding-bottom: 2.5rem;

	&__icon {

		display: block;
		margin-right: auto;
		margin-left: auto;

		@mixin atSmall {
			position: absolute;
			left: 0;
		}

	}

	&__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-bottom: .8rem;
		margin-top: .7;
		text-align: center;

		@mixin atSmall {
			margin-top: 1;
			font-size: 1.875rem;
			text-align: left;
		}

	}

	@mixin atSmall {
		padding-left: 94px;
	}

}